.centrage {text-align: center;}

.copyright {
    font-style: italic;
    font-family: FreeSans;
    font-size: small;
}

.menu {
    font-family: FreeSans;
    padding: 20px;
    background-color: darkcyan;
    color: beige;
}

h2 {
   color: red;
}

h1 {
   color: blue;
}
